<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/vite.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pikalang - language learning</title>
    </head>
    <body>
        <div id="root"></div>
        <script type="module" src="/src/main.tsx"></script>

        <% if (env.PROD) { %>
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-K69L5W6FQR"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'G-K69L5W6FQR');
            </script>
            <script>console.log('Google Analytics enabled')</script>
        <% } else { %>
            <script>console.log('Google Analytics disabled')</script>
        <% } %>
    </body>
</html>
