<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/vite.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Shantell+Sans:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta property="og:title" content="Pikalang">
        <meta property="og:description" content="Language learning app">
        <meta property="og:image" content="https://hamstercoder.github.io/pikalang/assets/sweet-pepper.jpg">
        <!-- <meta property="og:url" content="Canonical url to the resource"> -->
        <meta property="og:type" content="website">
        <title>Pikalang - language learning app</title>
    </head>
    <body>
        <div id="root"></div>
        <script type="module" src="/src/main.tsx"></script>

        <% if (env.PROD) { %>
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-K69L5W6FQR"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'G-K69L5W6FQR');
            </script>
            <script>console.log('Google Analytics enabled')</script>
        <% } else { %>
            <script>console.log('Google Analytics disabled')</script>
        <% } %>
    </body>
</html>
