.CandidateChips__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    margin-bottom: 20px;
}

.CandidateChips__container_answer {
    min-height: 82px;
    background: linear-gradient(var(--main-accent) 2px, transparent 2px);
    background-size: 100% 40px;
}

.CandidateChips__container > .CandidateChips__item {
    margin-right: 4px;
    margin-top: 4px;
}