.container {
    display: flex;
    flex-direction: column;

    padding: 20px 40px;
}

.picture {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin-bottom: 20px;
}

.picture-content {
    width: 100%;
    height: 100%;

    object-fit: cover;
}