* {
  box-sizing: border-box;

  --alert-error: #FF4444;
  --alert-success: #99CC00;
  --alert-warning: #FFBB33;
  --primary-accent: #AA66CC;
  --secondary-accent: #33B5E5;

  --primary-text: #54196a;
  --secondary-text: #ffffff;
}