* {
    box-sizing: border-box;

    --alert-error: #ff4444;
    --alert-success: #99cc00;
    --alert-warning: #ffbb33;
    --primary-accent: #aa66cc;
    --secondary-accent: #33b5e5;

    --primary-text: #54196a;
    --secondary-text: #ffffff;
}
