* {
    box-sizing: border-box;

    --alert-error: #ff4444;
    --alert-success: #99cc00;
    --alert-warning: #ffbb33;
    --primary-accent: #aa66cc;
    --secondary-accent: #33b5e5;

    --hint-color: #525252;

    --heading-color: #54196a;
    --text-color: #353535;
    --inverted-text-color: #ffffff;
}

body {
    font-size: 16px;
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
}
